

body {
    background-color: #e8e8a5;
}

body::-webkit-scrollbar {
    width: 0;
}

.logout:hover {
    background-color: red;
    opacity: 0.8;
}

.nav-ping {
    display: none;
    position: absolute;
    text-align: center;
    min-width: 20px;
    height: 20px;
    top: 13rem;
    left: 90%;
    background-color: red;
    border-radius: 50%;
}

.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 2%;
    width: 24rem;
    height: 32rem;
    background-color: #8f8f4f;
    top: 8rem;
    left: 48rem;
}

.panel-title {
    position: absolute;
    text-align: center;
    font-size: 32px;
}

.panel-block {
    position: relative;
    top: 3rem;
}

.username-block, .email-block, .password-block, .password_confirm-block {
    margin-top: 30px;
}

.username, .email, .password, .password_confirm {
    width: 20rem;
    font-size: 20px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.username:focus, .email:focus, .password:focus, .password_confirm:focus {
    animation: register 0.5s forwards;
}

@keyframes register{
    0% {
        box-shadow: 0 0 0px rgb(0, 200, 0);
    }

    100% {
        box-shadow: 0 0 50px rgb(0, 200, 0);
    }
}

.button-block {
    position: relative;
    top: 4rem;
    text-align: center;
}

.button {
    font-size: 24px;
}

.button:hover {
    opacity: 0.8;
    box-shadow: 0 0 30px rgb(0, 200, 0);
}


.upload-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 64rem;
    height: 28rem;
    background-color: #8f8f4f;
    top: 8rem;
    left: 36rem;
}


.upload-file-block {
    position: absolute;
    top: 18rem;
    margin-left: 5px;   
}

.upload-file {
    font-size: 16px;
}

#previewImg {
    position: absolute;
    display: none;
    max-width: 600px;
    max-height: 600px;
    top: 2rem;
    left: 26rem;
    resize: horizontal;
}

.upload-title-block {
    position: relative;
    bottom: 6rem;
    margin-left: 5px;
}

.upload-title {
    font-size: 20px;
    width: 24rem;
}

.upload-description-block {
    position: relative;
    bottom: 4rem;
    margin-left: 5px;
}

.upload-description {
    font-size: 18px;
    height: 6rem;
    width: 24rem;
    resize: none;
}

.upload-price-block {
    position: relative;
    bottom: 2rem;
    margin-left: 5px;
}

.upload-price {
    font-size: 20px;
    width: 120px;
}

.upload-button-block {
    position: relative;
    top: 6rem;
    text-align: center;
}

.upload-button {
    font-size: 28px;
    width: 80%;
}

.shop-container {
    position: relative;
    top: 4rem;
    display: flex;
    flex-wrap: wrap;
    width: 99%;
}

@keyframes open-shop {
    0% {
        width: 0;
        height: 0;
        margin: 0 0 0 0;
    }

    100% {
        width: 18rem;
        height: 32rem;
        margin: 1rem 0 1rem 1rem;
    }
}

.shop-body {
    animation: open-shop 2s forwards;
    background-color: gray;
    overflow-y: auto;
    position: relative;
    border-radius: 10px;
}

.shop-body::-webkit-scrollbar {
    width: 0;
}

#shopProfilePicture {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    user-select: none;
}

.shop-name {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 24px;
    left: 1rem;
}

#shop-image {
    position: relative;
    max-width: 100%;
    max-height: 12rem;
    width: 18rem;
}

.shop-title {
    position: relative;
    text-align: center;
    font-size: 24px;
    overflow-wrap: break-word;
}


.shop-description {
    position: relative;
    top: 1rem;
    font-size: 18px;
    overflow-wrap: break-word;
}

.shop-list {
    list-style: none;
}

.shop-item {
    position: relative;
    font-size: 20px;
    left: -1rem;
    top: 2rem;
}

.shop-cart {
    position: relative;
    width: 6rem;
    height: 3rem;
    top: 4rem;
    left: 1rem;
    font-size: 22px;
    background-color: yellowgreen;
    border-radius: 50px;
}

.shop-delete {
    position: relative;
    width: 6rem;
    height: 3rem;
    top: 4rem;
    left: 1rem;
    font-size: 22px;
    background-color: red;
    border-radius: 50px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    width: 60%;
    height: 48rem;
    top: 6rem;
    left: 22rem;
    overflow: auto;
    border-radius: 10px;
    z-index: 0;
}

.cart-container::-webkit-scrollbar {
    width: 0;
}

.cart-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 90%;
    height: 4rem;
    margin-top: 1rem;
    background-color: gray;
}

.cart-title, .cart-description, .cart-price {
    color: black;
}

.cart-title {
    position: relative;
    left: 2rem;
    font-size: 28px;
}

.cart-description {
    position: absolute;
    left: 14rem;
    font-size: 24px;
    width: 36rem;
    overflow: hidden;
}

.cart-price {
    position: absolute;
    left: 52rem;
    font-size: 24px;
}


.cart-remove {
    position: absolute;
    left: 58rem;
    font-size: 24px;
    border-radius: 15px;
    background-color: red   ;
}

.cart-remove:hover {
    opacity: .6;
}

.cart-order {
    position: relative;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    background-color: greenyellow;
    border-radius: 15px;
}

.cart-order:hover {
    opacity: .8;
}

.cart-all-price {
    position: absolute;
    top: 90%;
    left: 75%;
    font-size: 28px;
}


.profile-container {
    position: relative;
    width: 90%;
    height: 12rem;
    background-color: gray;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
}


#profilePicture {
    position: relative;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    cursor: pointer;
    user-select: none;
}

.profile-name {
    position: relative;
    width: 30%;
    font-size: 32px;
    top: -9rem;
    left: 14rem;
}

.profile-about {
    position: relative;
    width: 30%;
    height: 8rem;
    overflow-wrap: break-word;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 24px;
    top: -10rem;
    left: 14rem;
    background-color: azure;
}

.profile-about::-webkit-scrollbar {
    width: 0;
}

.profile-about-edit {
    position: relative;
    width: 1rem;
    top: -12rem;
    left: 48rem;
    font-size: 28px;
    user-select: none;
}

.profile-settings {
    position: absolute;
    top: 0;
    font-size: 24px;
}

.profile-edit {
    width: 100%;
    height: 100%;
}

.profile-friend-button {
    position: relative;
    top: -12rem;
    left: 48rem;
    font-size: 20px;
    background-color: #31e00d;
    border-radius: 10px;
}

.profile-edit::-webkit-scrollbar {
    width: 0;
}

.profile-shop-upload {
    position: absolute;
    top: 6rem;
    left: 48rem;
    width: 12%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: #0996ed;
    color: black;
    margin-top: 10px;
}



.profile-shop-upload:hover {
    opacity: .9;
    animation: uploadButton 1.5s infinite;
}

.profile-shop-upload:active {
    animation: activeUploadButton 0.8s forwards;
}



@keyframes uploadButton {
    0%, 100% {
        box-shadow: 0 0 5px rgb(0, 0, 0);
    }

    50% {
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
}

@keyframes activeUploadButton {
    0% {
        box-shadow: 0 0 0px rgb(10, 127, 199);
    }

    100% {
        box-shadow: 0 0 50px rgb(10, 127, 199);
    }
}


.profile-post-upload {
    position: absolute;
    left: 48rem;
    top: 4rem;
    width: 12%;
    background-color: #20618a;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 10px;
}

.profile-post-upload:hover {
    opacity: .9;
    animation: uploadButton 1.5s infinite;
}

.profile-post-upload:active {
    animation: activeUploadButton 0.8s forwards;
}

.profile-post-delete {
    position: relative;
    background-color: none;
    border: none;
    top: -1rem;
    left: 38rem;
    user-select: none;
}

.post-delete {
    color: white;
    background-color: #f22c2c;
}


.edit-container {
    position: relative;
    width: 50%;
    height: 16rem;
    background-color: gray;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
} 

.edit-file {
    position: relative;
    text-align: center;
    font-size: 20px;
}

.edit-submit {
    position: absolute;
    text-align: center;
    font-size: 24px;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#deleteImage {
    position: absolute;
    font-size: 24px;
    top: calc(12rem + 8px);
    left: 20rem;
    z-index: 1;
    background-color: red;
    
}

#editProfilePicture {
    position: relative;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    object-position: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    user-select: none;
}

@keyframes deleteButton {
    0% {
        box-shadow: 0 0 0px red;
    }

    100% {
        box-shadow: 0 0 30px red;
    }
}

@keyframes purchaseButton {
    0% {
        box-shadow: 0 0 0px greenyellow;
    }

    100% {
        box-shadow: 0 0 30px greenyellow;
    }
}

.cart-remove:hover, .shop-delete:hover, #deleteImage:hover {
    animation: deleteButton 0.8s forwards;
}

.cart-order:hover, .shop-cart:hover {
    animation: purchaseButton 0.8s forwards;
}


.upload-post-container {
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 48rem;
}

@keyframes upload-title {
    0% {
        left: 0rem;
    }

    100% {
        left: 50%;
        transform: translateX(-50%);
    }
}

.upload-post-container-title {
    position: absolute;
    animation: upload-title 1.5s forwards;
    user-select: none;
}

@keyframes start-line {
    0% {
        
    }

    100% {
        
    }
}

@keyframes draw-body {
    0% {
        width: 0;
        height: 32rem;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
    }

    25% {
        height: 32rem;
        
    }

    50% {
        width: 40%;
    }

    100% {
        border-top-width: 7px;
        border-left-width: 7px;
        border-right-width: 7px;
        border-bottom-width: 7px;
    }
}

.upload-post-body {
    position: relative;
    width: 40%;
    height: 32rem;
    background-color: white;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10%;
    border-style: double;
    border-color: #0996ed;
    border-width: 0px;
    animation: draw-body 4s forwards;
}

@keyframes post-title-frame {
    0% {
        top: 0;
    }

    100% {
        top: 2rem;
    }
}

@keyframes post-title {
    0% {
        width: 0;   
    }

    100% {
        width: 80%;
    }
}

.upload-post-title-frame {
    position: relative;
    left: 4rem;
    animation: post-title-frame 0.8s forwards;
}

.upload-post-title {
    animation: post-title 2s forwards;
    border-radius: 10px;
}

@keyframes post-description-frame {
    0% {
        top: 0;
    }

    100% {
        top: 2rem;
        margin-top: 10px;
    }
}

.upload-post-description-frame {
    position: relative;
    animation: post-description-frame 1.5s forwards;
    left: 4rem;
}

@keyframes post-description {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 80%;
        height: 6rem;
    }
}

.upload-post-description {
    animation: post-description 1.8s forwards;
    resize: none;
    border-radius: 10px;
}


.upload-post-title::placeholder, .upload-post-description::placeholder {
    font-size: 20px;
}

@keyframes post-file-frame {
    0% {
        top: 0;
    }

    100% {
        top: 2rem;
    }
}

.upload-post-file-frame {
    position: relative;
    animation: post-file-frame 2.2s forwards;
    left: 4rem;
}

@keyframes post-image {
    0% {
        max-width: 0;
        max-height: 0;
    }

    100% {
        max-width: 90%;
        max-height: 280px;
    }
}

#Img {
    position: relative;
    display: none;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 280px;
    animation: post-image 3s forwards;
}

.upload-post-button-frame {
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
}


.upload-post-button {
    display: none;
    font-size: 24px;
    width: 200px;
    border-radius: 10px;
    background-color: #33a6f2;
}

.upload-post-button:hover {
    opacity: .8;
}


.posts-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}

.posts-container::-webkit-scrollbar {
    width: 0;
}

.posts-body {
    position: relative;
    margin: 1rem 0 1rem 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #0996ed;
    border-width: 3px;
}

#postProfilePicture {
    position: relative;
    top: .5rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    user-select: none;
}

.profile-posts-uploader {
    position: relative;
    top: -3rem;
    left: 2.5rem;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.posts-uploader {
    position: relative;
    top: -1rem;
    left: 2.5rem;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.posts-title {
    position: relative;
    top: -1rem;
    left: 1rem;
    font-size: 22px;
}

.posts-description {
    position: relative;
    top: -2rem;
    left: 1rem;
    font-size: 14px;
}

#postPicture {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    user-select: none;
}

.notification-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 48rem;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
}

.notification-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 95%;
    min-height: 4rem;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    background-color: white;
}

.notification-body-unread {
    background-color: #38a6f5;
    opacity: .8;
}

.notification-category {
    position: relative;
    top: 10px;
    max-width: 12rem;
    font-size: 28px;
}

.notification-message {
    position: relative;
    font-size: 26px;
    top: 10px;
}

.notification-date {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 95%;
    font-size: 14px;
}

@keyframes hover-request {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.notification-request-accept {
    position: relative;
    border: none;
    font-size: 24px;
    margin-right: 10px;
    background-color: #2bf527;
    top: 10px;
}

.notification-request-accept:hover, .notification-request-reject:hover {
    animation: hover-request 1.8s forwards;
}

.notification-request-reject {
    position: relative;
    border: none;
    font-size: 24px;
    background-color: #f52a2a;
    top: 10px;
}

.notification-accepted-message {
    position: relative;
    top: 10px;
    font-size: 24px;
}

.friends-container {
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 54rem;
}

.friends-search {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 36rem;
    border-radius: 10px;
    font-size: 20px;
}

@keyframes focusFriendsSearch {
    from {
        box-shadow: 0 0 0px rgb(0, 0, 0);
    }

    to {
        box-shadow: 0 0 30px rgb(0, 0, 0);
    }
}

.friends-search:focus {
    animation: focusFriendsSearch 1s forwards;
}

.friends-body {
    position: relative;
    top: 1rem;
    width: 10rem;
    min-height: 50%;
    background-color: white;
    border-radius: 10px;
}

#friendPicture {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    object-position: center;
    user-select: none;
}

.friend-about {
    overflow-wrap: break-word;
}

.friend-message-button {
    position: absolute;
    top: 60%;
    border-radius: 10px;
    background-color: #0996ed;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.friend-remove-button {
    position: absolute;
    top: 70%;
    left: 0;
    border-radius: 10px;
    background-color: #f52a2a;
}

.search-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 54rem;
    overflow-y: auto;
}

.search-container::-webkit-scrollbar {
    width: 0;
}

.search-body {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    min-height: 10rem;
    max-height: 10rem;
    background-color: white;
}

#searchPicture {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    user-select: none;
}

.search-name {
    position: absolute;
    color: black;
    text-decoration: none;
    font-size: 28px;
    top: 0rem;
    left: 10rem;
}

.search-about {
    position: absolute;
    font-size: 20px;
    top: 2.5rem;
    left: 10rem;
}

.chat-container {
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 48rem;
    overflow-y: auto;
}

.chat-container::-webkit-scrollbar {
    width: 0;
}

.chat-body {
    position: relative;
    display: flex;
    top: 1rem;
    left: 4rem;
    font-size: 28px;
    max-width: 90%;
    flex-direction: column-reverse;
    margin-bottom: 5px;
}

.chat-username {
    position: relative;
    font-size: 20px;
    top: 1rem;
}

.chat-message {
    display: inline-block;
    min-width: 2rem;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 0 1rem 0 1rem;
    background-color: white;
    border-radius: 20px;
}

.chat-input-container {
    position: relative;
    width: 60%;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
}

.chat-input {
    position: relative;
    width: 80%;
    font-size: 24px;
    border-radius: 10px;
}

.chat-button {
    position: relative;
    width: 6rem;
    font-size: 26px;
    left: 2rem;
    border-radius: 10px;
}

.chats-container {
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 48rem;
    overflow-y: auto;
}

.chats-container::-webkit-scrollbar {
    width: 0;
}

.chats-body {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    min-height: 4rem;
    background-color: white;
    margin-top: 25px;
}

#chatsProfilePicture {
    position: relative;
    width: 100px;
    height: 100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

.chats-username {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 24px;
    left: 2rem;
}

.chats-ping {
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    background-color: red;
    color: black;
    left: 60%;
    opacity: .7;
}

.reports-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 54rem;
    overflow-y: auto;
}

.reports-container::-webkit-scrollbar {
    width: 0;
}

.reports-body {
    position: relative;
    min-width: 18rem;
    height: 25%;
    background-color: white;
    border-radius: 15px;
    margin: 5px;
}

.reports-title {
    position: relative;
    font-size: 28px;
    text-align: center;
}

.reports-name {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 24px;
    top: 1rem;
}

.reports-date {
    position: relative;
    text-align: end;
    font-size: 18px;
    top: 2rem;
    margin-right: 10px;
}

.posts-button-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
}

#declineReport {
    font-size: 20px;
    margin-right: 2rem;
    border-radius: 10px;
    background-color: #0996ed;
}

#declineReport:hover {
    animation: declineReport 1.5s forwards;
}

@keyframes declineReport {
    0% {
        font-size: 20px;
    }

    100% {
        font-size: 28px;
        box-shadow: 0 0 50px rgb(9, 150, 237);
    }
}

#deletePost {
    font-size: 20px;
    margin-left: 2rem;
    border-radius: 10px;
    background-color: #f52a2a;
}

#deletePost:hover {
    animation: deletePost 1.5s forwards;
}

@keyframes deletePost {
    0% {
        font-size: 20px;
    }

    100% {
        font-size: 28px;
        box-shadow: 0 0 50px rgb(245, 42, 42);
    }
}

@media screen and (max-width: 600px) {
    .panel-container {
        width: 16rem;
        height: 24rem;
        top: 4rem;
        left: 4rem;
    }

    .username, .email, .password, .password_confirm {
        width: 14rem;
        font-size: 16px;
    }

    .button-block {
        top: 2rem;
    }

    .button {
        font-size: 20px;
    }
    
    .shop-body {
        left: 2rem;
    }

    .upload-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        width: 22rem;
        height: 18rem;
        background-color: #8f8f4f;
        top: 8rem;
        left: 1rem;
    }


    #previewImg {
        left: 14rem;
        max-width: 150px;
        max-height: 250px;
    }

    .upload-file-block {
        top: 14rem;
    }

    .upload-file {
        font-size: 12px;
    }

    .upload-title-block {
        top: -2rem;
    }

    .upload-title {
        font-size: 12px;
        width: 10rem;
    }

    .upload-description-block {
        top: 0rem;
    }
    .upload-description {
        font-size: 12px;
        width: 10rem;
    }

    .upload-price-block {
        top: 0rem;
    }

    .upload-price {
        font-size: 8px;
        width: 4rem;
    }

    .cart-container {
        left: 0rem;
        width: 100%;
        overflow: hidden;
    }

    .cart-body {
        width: 100%;
        height: 8rem;
    }

    .cart-title {
        left: 0.5rem;
        font-size: 20px;
        width: 4rem;    
        overflow-wrap: break-word;
    }

    .cart-description {
        top: 2rem;
        left: 6rem;
        font-size: 16px;
        overflow: hidden;
        width: 12rem;
    }

    .cart-price {
        top: 1rem;
        left: 20rem;
    }

    .cart-remove {
        font-size: 20px;
        top: 4rem;
        left: 19rem;
    }

    .cart-order {
        position: absolute;
        top: calc(4rem - 5px);
        font-size: 22px;
    }

    .cart-all-price {
        top: calc(4rem - 5px);
        left: 80%;
    }

    .profile-container {
        height: 16rem;
    }

    #profilePicture {
        top: 6rem;
    }

    .profile-about-edit {
        left: 11rem;
    }

    .profile-name {
        font-size: 24px;
    }

    .profile-about {
        font-size: 14px;
    }

    .profile-shop-upload {
        top: 12rem;
        left: 14rem;
        font-size: 16px;
        width: 30%;
        margin-top: 0;
    }

    .profile-post-upload {
        top: 12rem;
        left: 9rem;
        font-size: 16px;
        width: 20%;
    }

    .profile-post-delete {
        left: 12rem;
    }

    .edit-file {
        font-size: 14px;
    }

    .edit-submit {
        position: absolute;
        text-align: center;
        font-size: 24px;
        bottom: 1rem;
        left: 9rem;
    }

    #deleteImage {
        position: absolute;
        font-size: 24px;
        top: calc(12rem + 8px);
        left: 0rem;
        z-index: 1;
        background-color: red;   
    }

    .upload-post-container {
        height: 32rem;
    }

    @keyframes draw-body {
        0% {
            width: 0;
            height: 32rem;
            border-top-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0px;
        }
    
        25% {
            height: 24rem;
            
        }
    
        50% {
            width: 80%;
        }
    
        100% {
            border-top-width: 5px;
            border-left-width: 5px;
            border-right-width: 5px;
            border-bottom-width: 5px;
        }
    }

    .upload-post-body {
        width: 80%;
        height: 24rem;
        animation: draw-body 4s forwards;
    }

    @keyframes post-title {
        0% {
            width: 0;
        }

        100% {
            width: 90%;
        }
    }

    @keyframes post-description {
        0% {
            width: 0;
        }

        100% {
            width: 90%;
            height: 6rem;
        }
    }

    .upload-post-title-frame {
        left: 1rem;
    }

    .upload-post-title {
        font-size: 18px;
    }

    .upload-post-description-frame {
        left: 1rem;
    }

    .upload-post-description {
        font-size: 14px;
    }

    .upload-post-title::placeholder, .upload-post-description::placeholder {
        font-size: 16px;
    }

    .upload-post-file-frame {
        left: 1rem;
    }

    #Img {
        height: 150px;
        max-height: 150px;
    }

    .posts-container {
        width: 90%;
    }

    .posts-uploader {
        font-size: 16px;
    }

    .posts-title {
        font-size: 20px;
        top: -.5rem;
    }

    .posts-description {
        top: -1rem;
        font-size: 14px;
        margin-right: 10px;
    }

    .profile-friend-button {
        top: -8rem;
        left: 12rem;
    }

    .notification-body {
        flex-direction: column;
        align-items: center;
        min-height: 10rem;
    }
    .notification-category {
        transform: translateX(-2rem);
        font-size: 24px;
    }

    .notification-message {
        font-size: 18px;
    }

    .notification-request-accept, .notification-request-reject {
        transform: translateY(-10px);
    }

    .notification-accepted-message {
        font-size: 18px;
    }

    .notification-date {
        position: absolute;
        top: 2rem;
        left: 14rem;
        font-size: 14px;
    }

    .friends-search {
        width: 18rem;
    }

    .search-container {
        height: 38rem;
    }

    .search-about {
        font-size: 16px;
        width: 9rem;
        height: 7rem;
        overflow-wrap: break-word;
        overflow-y: auto;
    }

    .chat-container {
        width: 90%;
        height: 34rem;
    }

    .chat-username {
        font-size: 18px;
    }

    .chat-message {
        font-size: 20px;
    }

    .chat-input-container {
        width: 80%;
    }

    .chat-input {
        width: 100%;
    }

    .chat-button {
        left: 50%;
        transform: translateX(-50%);
    }

    .chats-container {
        width: 100%;
        height: 40rem;
    }

    .chats-ping {
        left: 9rem;
    }

    .reports-body {
        left: 50%;
        transform: translateX(-50%);
    }
}