{% extends "index.html" %}


{% block content %}
    <div class="chat-container" id="container">
        {% for message in chat.messages %}
            <div class="chat-body">
                <div>
                    <p class="chat-username">{{ message.sender_username }}:</p>
                    <p class="chat-message">{{ message.message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="chat-input-container">
        <input type="text" class="chat-input" required placeholder="Üzenet..." id="input">
        <button class="chat-button" type="button" id="button">Küldés</button>
    </div>
    <script src="{{ url_for('static', filename='JS/chat.js') }}"></script>
{% endblock content %}