{% extends "index.html" %}




{% block content %}
    <div class="friends-container">
        <form action="{{ url_for('friends_search') }}" method="get">
            <input class="friends-search" type="search" name="search" placeholder="Keresés...">
        </form>
        {% for friend in friends %}
            <div class="friends-body">
                {% if friend.picture %}
                    <a href="{{ url_for('profile', name=friend.username) }}"><img src="{{ url_for('static', filename='profile_images/' + friend.picture) }}" alt="friendProfilePicture" id="friendPicture"></a>
                {% else %}
                    <a href="{{ url_for('profile', name=friend.username) }}"><img src="{{ url_for('static', filename='profile_images/default/default.jpg') }}" alt="friendProfilePicture" id="friendPicture"></a>
                {% endif %}
                <div>
                    <a style="font-size: 24px; color: black; text-decoration: none;" href="{{ url_for('profile', name=friend.username) }}">{{ friend.username }}</a>
                </div>
                <div>
                    {% if friend.about %}
                        <p class="friend-about">{{ friend.about }}</p>
                    {% endif %}
                </div>
                
                <a class="friend-message-button" href="{{ url_for('chat', user_id=friend.id) }}">Üzenet</a>
                <button class="friend-remove-button" onclick="removeFriend('{{ friend.id }}')">Eltávolítás</button>

            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='JS/friends.js') }}"></script>
{% endblock content %}