{% extends "index.html" %}


{% block content %}

    <div class="profile-container">
        <div class="profile-name">
            <p>{{ current_user.username }}</p>
        </div>
        <div class="profile-about">
            {% if current_user.about == None %}
                <p id="aboutMe">Kérlek mutatkozz be!</p>
            {% else %}
                <p id="aboutMe">{{ current_user.about }}</p>
            {% endif %}
        </div>
        <p class="profile-about-edit" type="button" id="profileEdit">🛠</p>
    </div>


    
    <div class="shop-container">
        {% for item in items %}
            <div class="shop-body">
                {% if item.image_file %}
                    <img id="shop-image" src="{{ url_for('static', filename='images/' + item.image_file) }}" alt="Image">
                {% endif %}
                <h5 class="shop-title">{{ item.title}}</h5>
                <p class="shop-description">{{ item.description }}</p>
                <ul class="shop-list">
                    <li class="shop-item">{{ item.price }}$</li>
                </ul>
                <button class="shop-delete" type="button" onclick="deleteCart('{{ item.id }}')">Törlés</button>
            </div>
        {% endfor %}
    </div>


    <script src="{{ url_for('static', filename='JS/shop.js') }}"></script>


    <script src="{{ url_for('static', filename='JS/profile.js') }}"></script>
{% endblock content %}