{% extends "index.html" %}



{% block content %}
    <div class="profile-container">
        <div class="profile-name">
            <p>{{ user.username }}</p>
        </div>
        <div class="profile-about">
            {% if user.about == None %}
            <p id="aboutMe">A felhasználó még nem mutatkozott be!</p>
            {% else %}
                <p id="aboutMe">{{ user.about }}</p>
            {% endif %}
        </div>  
    </div>  

    <div class="shop-container">
        {% for item in items %}
            <div class="shop-body">
                {% if item.image_file %}
                    <img id="shop-image" src="{{ url_for('static', filename='images/' + item.image_file) }}" alt="Image">
                {% endif %}
                <h5 class="shop-title">{{ item.title}}</h5>
                <p class="shop-description">{{ item.description }}</p>
                <ul class="shop-list">
                    <li class="shop-item">{{ item.price }}$</li>
                </ul>
                {% if current_user.id != item.uploader_id %}
                    <button class="shop-cart" type="button" onclick="addCart('{{ item.id }}')">Vásárlás</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='JS/shop.js') }}"></script>
{% endblock content %}