{% extends "index.html" %}




{% block content %}
    <div class="search-container">
        {% for user in users %}
            <a href="{{ url_for('profile', name=user.username)}}">
            <div class="search-body">
                {% if user.picture %}
                    <img src="{{ url_for('static', filename='profile_images/' + user.picture) }}" alt="profilePicture" id="searchPicture">
                {% else %}
                   <img src="{{ url_for('static', filename='profile_images/default/default.jpg') }}" alt="profilePicture" id="searchPicture">
                {% endif %}
                <div>
                    <p class="search-name" style="color: black;">{{ user.username }}</p>
                </div>
                <p class="search-about" style="color:  black;">{{ user.about }}</p>
            </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}